<div class="transacoes">
  <h4>Transações</h4>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Tipo</th>
          <th scope="col">Descrição</th>
          <th scope="col">Data</th>
          <th scope="col">Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Renda variável</td>
          <td>Compra fracionária de BBDC4</td>
          <td>20/01/2021</td>
          <td>R$100,00</td>
        </tr>
        <tr>
          <td>Renda Fixa</td>
          <td>Tesouro Direto</td>
          <td>22/12/2020</td>
          <td>R$150,00</td>
        </tr>
        <tr>
          <td>Renda variável</td>
          <td>Compra fracionária de PETR4</td>
          <td>20/01/2021</td>
          <td>R$250,00</td>
        </tr>
      </tbody>
    </table>
  </div>